@charset "utf-8";
/* CSS Document */

@import url('normalize.css');
html, body{
	height:100%;
}


.imageslider{
	position:relative;
	overflow:hidden;
}
.ImageSlideShow{
	width:100%;
	height:100%;
	float:left;
	position:absolute;
}
.ImageSlideShow img{
	width:100%;
}
#CheckBoxes{
	width:100%;
	height:8%;
	position:absolute;
	text-align:center;
	bottom:0;
	z-index:99;
}
#CheckBoxes div{
	margin:0.1% 3% 0 0;	
}
#leftarrow{
	background:url(../images/arrow.png) no-repeat;
	width:30px;
	height:45px;
	position:absolute;
	left:1%;
	opacity:0.5;
	top:50%;
	cursor:pointer;
	z-index:99;
	transition:all ease 0.5s;
}
#rightarrow{
	background:url(../images/arrow.png) no-repeat;
	width:30px;
	height:45px;
	position:absolute;
	right:1%;
	top:50%;
	opacity:0.5;
	cursor:pointer;
	transform:rotate(180deg);
	z-index:99;
	transition:all ease 0.5s;
}
#leftarrow:hover, #rightarrow:hover{
	opacity:1;
}
.checkbox{
	background:hsla(0,0%,0%,.75);
	border:#000 solid thin;
	border-radius:50%;
	width:12px;
	height:12px;
	display:inline-block;
	cursor:pointer;	
}
.checkbox-active{
	background:#43a0d9;
}

@media only screen and (max-height : 600px){
	#CheckBoxes{
		display:none;
	}
}